body {
    background-color:lightblue;
}

h1 {
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myDiv {
    width:150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight:bold;
    color:darkblue;
}

@keyframes moveIt{
    0%{transform:translate(0);}
    100%{transform:translate(20px, 20px);}
}

@keyframes swag{
    0%{transform:translate(20px,20px);}
    100%{transform:translate(0, 0);}
}

.myDiv{
    animation:moveIt .75s ease forwards;
}